.svg-circle {
  position: absolute;
  top: -8px;
  right: 5px;
}

.outer-circle {
  height: 140px;
  width: 140px;
  margin: 0 0 0 7px;
  border-radius: 50%;
  padding: 20px;
  background-color: black;
  box-shadow: -6px -6px 10px -1px rgba(255, 255, 255, 0.7),
    6px 6px 10px -1px rgba(0, 0, 0, 0.15);
}

.inner-circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px 10px rgba(0, 0, 0, 0.05);
}
